.container{
    background-color: rgb(61, 199, 146);
    padding: 1em;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    text-shadow: 6px 4px 7px rgba(0,0,0,0.6);
    display:flex;
    flex-direction: column;
}
.closeButton{
    border:0px;
    background-color: rgb(198,15,15);
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
    transition:0.5s;
    color:aliceblue;
    
    
}

.closeButton:hover{
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}